.header {
  width: 100%;
  height: 45px;
  background-color: #ebecf0;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 32px 0 18px;
  align-items: center;
}
.left-area {
}

.right-area {
  display: flex;
  align-items: center;
}
.alarm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
}
.alarm-bell {
  color: #a7a8aa;
  font-size: 30px;
}
.count {
  position: absolute;
  min-width: 15px;
  border-radius: 50%;
  font-size: 8px;
  font-weight: 700;
  background-color: #e30613;
  color: #fff;
  padding: 1px;
  position: absolute;
  top: 3px;
  right: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  margin-right: 20px;
}
